.StudentRow-container {
  text-align: center;
}

.StudentRow-btn :nth-child(1) {
  margin: 0 0.4em;
  background-color: var(--backgroundColors-500);
}

.StudentRow-btn :nth-child(2) {
  background-color: var(--backgroundColor-100);
}
